.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 133px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg {
  width: 600px;
  height: 400px;
  background-color: #eee;
  overflow: visible;
}